---
import Author from '@/components/Author.astro'
import Button from '@/components/Button.astro'
import MainLayout from '@/layouts/MainLayout.astro'
import DateString from '@/components/DateString.astro'
import SocialLinks from '@/components/SocialLinks.astro'
import { getAllSnippets, getPageContentBySlug, markdownToHtml } from 'src/markdown'

export function getStaticPaths() {
  return getAllSnippets(['slug']).map(({ slug }) => ({ params: { slug } }))
}

const { slug } = Astro.params

const page = getPageContentBySlug(slug, ['title', 'image', 'slug', 'content', 'excerpt', 'date'])
---

<MainLayout content={{ title: page.title }}>
  <div class="flex flex-col items-center pt-8 text-center">
    <div class="flex w-[90vw] flex-col items-center space-y-8 sm:w-[75vw] lg:w-[50vw]">
      <h1 class="text-4xl leading-[3rem] text-black sm:text-5xl">
        {page.title}
      </h1>
      <DateString class="text-md text-gray-700" date={new Date(page.date)} />
      <div class="flex w-full flex-col items-center justify-between sm:flex-row">
        <Author name={'Ishant Jain'} twitter={'ijainishant'} image={'/blog/ishant-jain.jpg'} />
        <SocialLinks className={'mt-8 sm:mt-0'} altText={page.title} url={`/blog/${page.slug}`} />
      </div>
    </div>
  </div>
  <div id="blog" class="mt-10 mb-10 h-[1px] w-full bg-gray-200 px-4 md:px-32"></div>
  <div class="flex w-full flex-col items-center">
    <div class="flex w-[90vw] flex-col items-start pb-10 sm:w-[75vw] lg:w-[50vw]">
      <div class="flex w-full flex-col items-start space-y-8">
        <div class="relative h-[250px] w-[90vw] bg-gray-200 sm:w-[75vw] lg:w-[50vw]">
          <img
            loading="lazy"
            decoding="async"
            alt="Blog Cover Image"
            title="Blog Cover Image"
            src={`/blog/${page.image}`}
            class="absolute top-0 left-0 h-[250px] w-[90vw] rounded object-cover sm:w-[75vw] lg:w-[50vw]"
          />
        </div>
        <article set:html={markdownToHtml(page.content)} class="prose max-w-none" />
      </div>
    </div>
    <div class="h-[1px] w-[75vw] bg-gray-300 px-4 md:px-32"></div>
    <div class="flex w-[75vw] flex-col items-start pb-10">
      <div class="mt-8 flex flex-col items-start space-y-8">
        <h2 class="text-4xl text-black sm:text-6xl">Wanna redefine your lifestyle?</h2>
        <h2 class="text-4xl text-gray-500 sm:text-6xl">Let&apos;s talk!</h2>
        <Button href={'mailto:arianarchitects@gmail.com'} link={false} mode={false} text={'Get in touch'} />
      </div>
    </div>
  </div>
</MainLayout>
