---
import { getAllSnippets } from 'src/markdown'
import Button from '@/components/Button.astro'
import MainLayout from '@/layouts/MainLayout.astro'

const posts = getAllSnippets(['slug', 'excerpt', 'title', 'date', 'image'])
---

<MainLayout content={{ title: 'Blogs - Arian Architects' }}>
  <div class="flex flex-col items-center space-y-8 pt-8 text-center">
    <h1 class="text-4xl text-black sm:text-6xl">Blogs</h1>
    <a href="#blogs">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
      </svg>
    </a>
  </div>
  <div id="blogs" class="mt-10 h-[1px] w-full bg-gray-200 px-4 md:px-32"></div>
  <div class="flex w-full flex-col items-center">
    <div class="flex w-[75vw] flex-col items-start pt-10 pb-10">
      <div class="flex w-full flex-col items-start space-y-8">
        {
          posts &&
            posts.map((item) => (
              <div class="flex flex-col md:flex-row">
                <div class="relative h-[250px] w-full max-w-[250px] rounded bg-gray-200">
                  <img loading="lazy" decoding="async" src={`/blog/${item.image}`} class="absolute top-0 left-0 h-[250px] w-[250px] rounded object-cover" />
                </div>
                <div class="flex flex-col space-y-5 py-10 md:py-0 md:px-10">
                  <h1 class="text-xl font-semibold text-black sm:text-3xl">{item.title}</h1>
                  <h3 class="text-md text-black sm:text-xl" set:text={item.excerpt} />
                  <Button href={`/blog/${item.slug}`} link={true} mode={true} text={'Read More'} />
                </div>
              </div>
            ))
        }
      </div>
    </div>
    <div class="h-[1px] w-[75vw] bg-gray-300 px-4 md:px-32"></div>
    <div class="flex w-[75vw] flex-col items-start pb-10">
      <div class="mt-8 flex flex-col items-start space-y-8">
        <h2 class="text-4xl text-black sm:text-6xl">Wanna redefine your lifestyle?</h2>
        <h2 class="text-4xl text-gray-500 sm:text-6xl">Let&apos;s talk!</h2>
        <Button href={'mailto:arianarchitects@gmail.com'} link={false} mode={false} text={'Get in touch'} />
      </div>
    </div>
  </div>
</MainLayout>
