---
import { items } from 'src/data'
import { imageSize } from 'image-size'
import { join, relative } from 'node:path'
import Button from '@/components/Button.astro'
import MainLayout from '@/layouts/MainLayout.astro'

let images: any[] = items.map(({ project }) => join(process.cwd(), 'public', 'projects', project, '1.jpg'))
images = await Promise.all(
  images.map((i) => {
    const { width, height } = imageSize(i)
    return {
      width,
      height,
      image: '/' + relative(join(process.cwd(), 'public'), i),
    }
  }),
)
---

<MainLayout content={{ title: 'Projects - Arian Architects' }}>
  <div class="flex flex-col items-center space-y-8 pt-8 text-center">
    <h1 class="text-4xl text-black sm:text-6xl">Projects</h1>
    <a aria-label="Projects Grid" href="#projects">
      <svg width="32" height="32" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
      </svg>
    </a>
  </div>
  <div id="projects" class="mt-10 h-[1px] w-full bg-gray-200 px-4 md:px-32"></div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      items?.map((item, index) => (
        <div class="flex w-full flex-col p-8">
          <img
            src={images[index].image}
            width={images[index].width}
            height={images[index].height}
            alt={item.project.split(',')[0]}
            loading={index === 0 ? 'eager' : 'lazy'}
            class="h-[300px] w-full object-cover object-center"
          />
          <h1 class="mt-5 text-4xl text-black">{item.project.split(',')[0]}</h1>
          <h2 class="mt-3 text-2xl text-gray-500">{item.project.split(',')[1]}</h2>
          <div class="mt-3" />
          <Button href={`/projects/${item.project}`} link={true} mode={false} w="mt-auto max-w-max" text={'View Project →'} />
        </div>
      ))
    }
  </div>
</MainLayout>
