---
import { getImages } from '@/imagekit'
import MainLayout from '@/layouts/MainLayout.astro'

export async function getStaticPaths() {
  const allImages = await getImages()
  const allProjects = [
    ...new Set(
      allImages
        .filter((i) => i.url.includes('1.'))
        .map((i) => {
          const tmp = i.url
          const split = tmp.split('/')
          return split[split.length - 2]
        }),
    ),
  ]
  const allProjectImages = {}
  allImages.forEach((i) => {
    allProjects.forEach((j) => {
      if (i.url.includes(`/${j}/`)) {
        if (!allProjectImages[j]) allProjectImages[j] = []
        allProjectImages[j].push(i)
      }
    })
  })
  return allProjects.map((i) => ({ params: { slug: i }, props: { images: allProjectImages[i] } }))
}

const { slug } = Astro.params

const specificProj = Astro.props
---

<MainLayout content={{ title: `${slug.split(',')[0]} - Arian Architects` }}>
  <div class="flex flex-col items-center space-y-8 pt-8 text-center">
    <h1 class="text-4xl text-black sm:text-6xl">{slug.split(',')[0]}</h1>
    <h2 class="text-4xl text-gray-500 sm:text-6xl">{slug.split(',')[1]}</h2>
    <a aria-label="Project Images" href="#project">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
      </svg>
    </a>
    <div id="project" class="mt-10 h-[1px] w-full bg-gray-200 px-4 md:px-32"></div>
  </div>
  <div id="my-gallery" class="row p-8">
    {
      new Array(3).fill(0).map((_, columnIndex) => (
        <div class="column">
          {specificProj.images
            .slice(Math.floor(specificProj.images.length / 3) * columnIndex, Math.floor(specificProj.images.length / 3) * (columnIndex + 1))
            .map(({ url: image, width, height }, index) => (
              <a href={image} data-pswp-width={width} data-pswp-height={height} class="contents">
                <img src={image} width={width} height={height} decoding="async" loading={index === 0 ? 'eager' : 'lazy'} alt={`Image ${index} - ${slug.split(',')[0]}`} />
              </a>
            ))}
        </div>
      ))
    }
  </div>
</MainLayout>

<script>
  import 'photoswipe/style.css'
  import pswpModule from 'photoswipe'
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  window.lightbox = new PhotoSwipeLightbox({
    pswpModule,
    children: 'a',
    gallery: '#my-gallery',
  })

  document.addEventListener(
    'astro:page-load',
    () => {
      if (lightbox) lightbox.init()
    },
    { once: false },
  )
</script>
